In [1]:
# Khalid Mohamed, moha0768 HW8 Lab 006
# Partners with Kevin Wolf and Ahmed Ali
import csv

In [2]:
%precision 3
2.0

2.000

In [3]:
with open('cars_mpg.csv') as f:
    mpg = list(csv.DictReader(f))

In [4]:
#Task 1 - Worksheet 1
a = []
a.append(sum(int(d['cty']) for d in mpg)/len(mpg))
a.append(sum(int(d['hwy']) for d in mpg)/len(mpg))

a

[16.859, 23.440]

In [5]:
#Task 2 - Worksheet 1
manu = set(m['manufacturer'] for m in mpg)

In [6]:
#Task 3 - Worksheet 1
ByManyAvgHwCty = []
hwy = []
for m in manu:
    total = 0
    count = 0
    for rec in mpg:
        if rec['manufacturer'] == m:
            count = count + 1
            total = total + float(rec['hwy'])
    hwy.append(total/count)
    
cty = []
for m in manu:
    total = 0
    count = 0
    for rec in mpg:
        if rec['manufacturer'] == m:
            count = count + 1
            total = total + float(rec['cty'])
    cty.append(total/count)


ByManyAvgHwCty = [cty,hwy]
ByManyAvgHwCty

[[18.077,
  24.444,
  18.643,
  17.611,
  13.500,
  11.333,
  13.135,
  18.529,
  11.500,
  13.250,
  17.000,
  20.926,
  15.000,
  19.286,
  14.000],
 [24.615,
  32.556,
  26.857,
  26.444,
  17.625,
  17.000,
  17.946,
  24.912,
  16.500,
  18.000,
  26.400,
  29.222,
  21.895,
  25.571,
  19.360]]

In [7]:
manu

{'allude',
 'chevron',
 'doggie',
 'freeway',
 'honda',
 'hyundai',
 'jeep',
 'land rover',
 'lincoln',
 'mercury',
 'nissan',
 'silver',
 'subbie',
 'tinker',
 'volks'}

In [8]:
# Task 4 - Worksheet 1
cty.sort()
hwy.sort()

ByManyAvgHwCty

[[11.333,
  11.500,
  13.135,
  13.250,
  13.500,
  14.000,
  15.000,
  17.000,
  17.611,
  18.077,
  18.529,
  18.643,
  19.286,
  20.926,
  24.444],
 [16.500,
  17.000,
  17.625,
  17.946,
  18.000,
  19.360,
  21.895,
  24.615,
  24.912,
  25.571,
  26.400,
  26.444,
  26.857,
  29.222,
  32.556]]

In [9]:
import pandas as pd
pd?
from pandas import DataFrame, Series

In [10]:
#Task 5 - Worksheet 1
df1 = pd.read_csv("cars_mpg.csv", index_col=0)

In [11]:
df1.head()

  manufacturer  model  displ  year  cyl       trans drv  cty  hwy fl    class
1       allude  excel    1.8  1999    4    auto(l5)   f   18   29  p  compact
2       allude  excel    1.8  1999    4  manual(m5)   f   21   29  p  compact
3       allude  excel    2.0  2008    4  manual(m6)   f   20   31  p  compact
4       allude  excel    2.0  2008    4    auto(av)   f   21   30  p  compact
5       allude  excel    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [12]:
#Task 6 - Worsksheet 1
df1['cty'].max(),df1['hwy'].max()

(35, 44)

In [13]:
#Task 7 - Worksheet 1
mpg_city = []
mpg_hwy = []
x = df1['cty'].mean()
mpg_city.append(x)
y = df1['hwy'].mean()
mpg_hwy.append(y)
df2 = { 'mpg_city': mpg_city, 'mpg_hwy': mpg_hwy}
pd.DataFrame(df2)

    mpg_city    mpg_hwy
0  16.858974  23.440171

In [14]:
#Task 8 - Worksheet 1
import matplotlib.pyplot as plt
hwy = df1.groupby('hwy')
hwy
df1['hwy'].plot.bar()